<div class="now-playing">

  <div class="player now-playing__player">
    <ng-container *ngIf="player.currentTrack as track; else emptyArtwork">
      <div class="player__title">{{track.title}}</div>
      <div class="player__other-actions">
        <span class="player__other-actions-item" title="Download" (click)="download.download(track)">
          <mat-icon>file_download</mat-icon>
        </span>
        <span class="player__other-actions-item" [title]="'Open in ' + (track.source == 'sc' ? 'SoundCloud' : 'YouTube')" (click)="navigation.openSource(track)">
          <mat-icon>open_in_new</mat-icon>
        </span>
        <span class="player__other-actions-item" title="Configure background effects" (click)="navigation.openNoises()">
          <mat-icon>surround_sound</mat-icon>
        </span>
      </div>
      <div class="player__artwork">
        <img class="player__artwork-img" [src]="track.artworkUrl" *ngIf="track.artworkUrl">
        <mat-icon class="player__empty-artwork" *ngIf="!track.artworkUrl">music_note</mat-icon>
        <div class="player__progress-text">{{trackProgress.value | duration}} / {{trackProgress.max | duration}}</div>
        <div class="player__playlist-progress-text" *ngIf="playlistProgress">{{playlistProgress.index+1}} of {{ playlistProgress.total}} tracks</div>
      </div>
      <mat-slider class="player__progress-bar" [min]="trackProgress.min" [max]="trackProgress.max" [value]="trackProgress.value"
        (change)="seek($event.value)"></mat-slider>
      <div class="player__track-controls">
        <button mat-icon-button (click)="player.previous(false)">
          <mat-icon class="player__control-icon">skip_previous</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!player.playing" (click)="play()">
          <mat-icon class="player__control-icon">play_arrow</mat-icon>
        </button>
        <button mat-icon-button *ngIf="player.playing" (click)="pause()">
          <mat-icon class="player__control-icon">pause</mat-icon>
        </button>
        <button mat-icon-button (click)="player.next(false)">
          <mat-icon class="player__control-icon">skip_next</mat-icon>
        </button>
      </div>
      <div class="player__overall-controls">
        <mat-button-toggle [checked]="player.repeatEnabled" (change)="player.repeatEnabled = $event.source.checked">
          <mat-icon>repeat_one</mat-icon>Repeat
        </mat-button-toggle>
        <mat-button-toggle [checked]="player.shuffleEnabled" (change)="player.shuffleEnabled = $event.source.checked">
          <mat-icon>shuffle</mat-icon>Shuffle
        </mat-button-toggle>
      </div>
    </ng-container>


  </div>

  <cm-playlist class="now-playing__playlist"></cm-playlist>

</div>

<ng-template #emptyArtwork>
  <div class="player__empty">
    <mat-icon class="player__empty-artwork material-icons">music_note</mat-icon>
  </div>
</ng-template>