.now-playing {
  background: #f3f3f3;
  display: flex;
}

.now-playing__player {
  padding: 16px;
  flex-grow: 1;
}

.now-playing__playlist {
  display: block;
  height: 450px;
  overflow: hidden;
  background: white;
  min-width: 300px;
  max-width: 300px;
  padding-left: 8px;
}

.player {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.player__empty {
  text-align: center;
}

.player__empty-artwork {
  font-size: 100px;
  width: auto;
  height: auto;
  color: grey;
  padding: 16px;
}

.player__artwork {
  position: relative;
}

.player__title {
  margin-bottom: 8px;
}

.player__other-actions {
  position: absolute;
  left: 16px;
  top: 16px;
  display: flex;
}

.player__other-actions-item {
  display: flex;
  color: white;
  background: rgba(0, 0, 0, .2);
  padding: 3px 8px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
}

.player__other-actions-item:hover {
  background: rgba(0, 0, 0, .5);
}

.player__progress-bar {
  width: 100%;
}

.player__progress-text {
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 0 4px;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  font-size: .8em;
}

.player__track-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.player__overall-controls {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
