<div class="tracklist">

  <div [hidden]="!hasPlaylist">
    <div class="toolbar" matSort>
      <div class="toolbar__searchbox searchbox">
        <mat-icon class="searchbox__icon">search</mat-icon>
        <input class="searchbox__input" type="search" #searchInput [(ngModel)]="filter">
      </div>
      <mat-icon class="toolbar__sort" [class.toolbar__sort_desc]="(sort$ | async) == 'desc'" (click)="sort()">sort</mat-icon>
    </div>

    <div class="tracklist__list">
      <div class="track" *ngFor="let e of filteredList" [class.track_active]="e == player.currentTrack" (click)="play(e)">
        <cm-soundbar class="track__play-indicator" *ngIf="e == player.currentTrack"></cm-soundbar>
        <div class="track__title" [title]="e.title">{{e.title}}</div>
        <div class="track__duration">{{e.durationInSeconds | duration}}</div>
        <button class="track__menu" (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="trackMenu" [matMenuTriggerData]="{$implicit: e}">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="tracklist__placeholder" [hidden]="hasPlaylist">
    <div>
      <button mat-button color="primary" (click)="playAll()">
        <mat-icon>video_library</mat-icon>
        <span>Play my music</span>
      </button>
    </div>
    <div>
      <button mat-button color="primary" (click)="navigation.openNoises()">
        <mat-icon>surround_sound</mat-icon>
        <span>Relax a bit</span>
      </button>
    </div>
    <div>
      <button mat-button color="primary" (click)="navigation.openLibrary()">
        <mat-icon>library_music</mat-icon>
        <span>Manage my music</span>
      </button>
    </div>
    <div>
      <button mat-button color="primary" (click)="navigation.openExplorer()">
        <mat-icon>search</mat-icon>
        <span>Find a new song</span>
      </button>
    </div>
  </div>

</div>

<mat-menu #trackMenu="matMenu" class="mat-elevation-z6">
  <ng-template matMenuContent let-data>
    <button mat-menu-item (click)="remove(data)">Remove from queue</button>
    <button mat-menu-item (click)="download.download(data)">Download</button>
    <button mat-menu-item (click)="navigation.openSource(data)">Open source</button>
    <button mat-menu-item (click)="addToLib(data)">Add to My Music</button>
    <button mat-menu-item (click)="findInLib(data)">Reveal in My Music</button>
    <!-- <button mat-menu-item (click)="findRelatedTracks(data)">Find related tracks</button> -->
  </ng-template>
</mat-menu>