.container {
  height: var(--content-height);
  display: flex;
  flex-direction: column;
}

.container__controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 56px 0px;
}

.container__controls-hint {
  flex: 1;
  text-align: center;
  color: grey;
  font-size: 1.2em;
}

.container__controls-mute {
  top: 0;
  right: 0;
  font-size: 32px;
  color: grey;
  cursor: pointer;
}

.container__controls-mute_active {
  color: var(--primary-color);
}

.container__noises {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-evenly;
}

.noise {
  width: 120px;
  height: 100px;
  cursor: pointer;
  opacity: 0.3;
  margin: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease;
}

.noise_playing {
  opacity: 1;
}

.noise__icon {
  width: 50%;
}

.noise__volume {
  min-width: 100%;
  display: none;
}

.noise_playing .noise__volume {
  display: block;
}
