<ng-container *ngIf="topLoaderVisible" [ngTemplateOutlet]="loadingTemplate"></ng-container>

<ng-container *ngIf="content?.tracks?.length > 0; else contentEmptyTemplate">
  <div class="track" *ngFor="let e of content?.tracks" (click)="play(e)">
    <div class="track__thumb artwork">
      <img class="artwork__img" [src]="e.artworkUrl" *ngIf="e.artworkUrl">
      <div class="artwork__alt" *ngIf="!e.artworkUrl">{{e.sourceName || e.source}}</div>
      <div class="artwork__subtitle">{{e.durationInSeconds | duration}}</div>
      <mat-icon class="artwork__overlay">play_arrow</mat-icon>
    </div>
    <div class="track__body">
      <div class="track__title" [title]="e.title">{{e.title}}</div>
      <span class="track__origin" (click)="$event.stopPropagation(); open(e)" title="Go to source">{{e.sourceName ||
        e.source}}</span>
      <div>
        <button class="track__action" mat-icon-button (click)="$event.stopPropagation(); queue(e)" title="Add to Now Playing">
          <mat-icon>playlist_add</mat-icon>
        </button>
        <button class="track__action" mat-icon-button (click)="$event.stopPropagation(); addToLib(e)" title="Add to My Music">
          <mat-icon>library_music</mat-icon>
        </button>
        <button class="track__action" mat-icon-button (click)="$event.stopPropagation(); eventBus.exploreRelated(e)"
          title="More tracks like this">
          <mat-icon>find_in_page</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="botLoaderVisible" [ngTemplateOutlet]="loadingTemplate"></ng-container>
<div id="overscroll">
  <div id="end" *ngIf="hasNoMoreData">No more data.
    <button mat-stroked-button (click)="scrollToTop()">Back to top</button>
  </div>
</div>